@charset "utf-8";
@import url("body.css");
@import url("p_tag.css");

.oneColElsCtr #container {
	width: 46em;
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left; 
}
.oneColElsCtr #mainContent {
	padding: 0 20px; 
}

