a:visited {  font-weight: lighter; color: #6633CC}
.imported1 {
	color: #996633;
	text-decoration: line-through
}
.imported2 {  font-family: "Times New Roman", "Times", "serif"; top: auto; clip:  rect( auto  )}
div { background-color: #CCFFFF; text-align: center }