.linked1 {  font-family: "Courier New", "Courier", "mono"; font-style: oblique; color: #FF3333}
.linked2 {  border-color: #9966CC black black; border-top-width: thin; list-style-position: inside; list-style-type: disc}
h1 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; color: #CC99FF}
a:link {  font-weight: bolder; color: #00CC66}
